* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #071c14;
    color: #e8f5e9;
    padding: 30px;
}

section {
    width: 500px;
    margin: 30px auto;
    background-color: #0d2b20;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #1f5c43;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #7ee2ab;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea,
select {
    width: 100%;
    padding: 11px;
    margin-bottom: 18px;
    border: 1px solid #326b51;
    border-radius: 7px;
    background-color: #071c14;
    color: #e8f5e9;
    outline: none;
}

button {
    width: 100%;
    padding: 11px 18px;
    border: none;
    border-radius: 7px;
    background-color: #238b55;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

#employerDashboard {
    width: 800px;
}

#employerDashboard h2 {
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

#createJobBtn {
    margin-bottom: 10px;
}


#jobContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}


.job-card {
    background-color: #153526;
    border: 1px solid #315b44;
    padding: 20px;
    border-radius: 8px;
}

.job-card h3 {
    color: #0f0f0f;
    font-family: serif;
    font-size: 22px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.job-card p {
    color: #8fffdc8e;
    margin: 7px 0;
    font-weight: 900;
}


@media (max-width: 480px) {

    body {
        padding: 15px;
    }

    section {
        width: 100%;
        padding: 20px;
        margin: 15px auto;
    }

    #employerDashboard {
        width: 100%;
    }

    #jobContainer {
        grid-template-columns: 1fr;
    }

    .job-card {
        padding: 15px;
    }

    .job-card h3 {
        font-size: 18px;
    }
}


@media (min-width: 481px) and (max-width: 768px) {

    body {
        padding: 20px;
    }

    section {
        width: 90%;
    }

    #employerDashboard {
        width: 90%;
    }

    #jobContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 769px) and (max-width: 1200px) {

    section {
        width: 500px;
    }

    #employerDashboard {
        width: 700px;
    }

    #jobContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (min-width: 1201px) {

    section {
        width: 500px;
    }

    #employerDashboard {
        width: 800px;
    }

    #jobContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}